# Remove .idea from Webstorm
.idea/
.git
survey-webservice/node_modules
survey-webservice/.git
survey-webservice/.idea
survey-webservice/.env

survey-frontend/node_modules
survey-frontend/.git
survey-frontend/.idea
survey-frontend/.env
