# Remove .idea from Webstorm
.idea/
.git
survey-webservice/node_modules
survey-webservice/.git
survey-webservice/.env
survey-webservice/.idea/

survey-frontend/node_modules
survey-frontend/.git
survey-frontend/.env
survey-frontend/.idea/
