.footer {
  /*border-top: 1px solid #ddd;*/
  background-color: #f7f7f7;
  box-shadow: 0 0 0.3px inset #555;
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin-top: 20px;
  span {
    font-size: 12px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .footer {
    text-align: center;
    flex-direction: column;
    justify-content: center !important;
    align-content: center;
    padding: 5px 2px !important;
  }
}
/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
}

/*
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}
