.collapse-wrapper {
  .collapse-control {
    border-radius: 0;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    text-decoration: underline;
  }
  .collapsing,
  .collapse {
    .card-body {
      background-color: transparent;
      border-radius: 0;
      border: none;
    }
  }
}
