#voomsway {
  --color-primary: #1c96d6;
}

$color-dark: #2e2e2e;
$color-dark-grey: #6c6c6c;
$color-light-grey: #b4b4b4;
$color-lighter-grey: #fafafa;

$color-danger: red;
$color-info: #6eb2fb;
$color-warning: #f1ad3d;
$color-success: #00d3ca;
$color-yellow: #effd90;
// $color-primary: #1c96d6;
// $color-primary: #47b804;
$color-primary: var(--color-primary);

$ssm-max: 360px;
$sm-max: 575px;
$md-max: 767px;
$lg-max: 1023px;
$xl-max: 1199px;
$xxl-max: 1400px;
$xxxl-max: 1739px;
