$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";


#voomsway {
  --color-primary: #1c96d6;
}

$color-dark: #2E2E2E;
$color-dark-grey: #6C6C6C;
$color-light-grey: #B4B4B4;
$color-lighter-grey: #FAFAFA;

$color-danger: red;
$color-info: #6EB2FB;
$color-warning: #F1AD3D;
$color-success: #00D3CA;
$color-yellow: #EFFD90;
// $color-primary: #1c96d6;
// $color-primary: #47b804;
$color-primary: var(--color-primary) ;

$ssm-max: 360px;
$sm-max: 575px;
$md-max: 767px;
$lg-max: 1023px;
$xl-max: 1199px;
$xxl-max: 1400px;
$xxxl-max: 1739px;
