.ant-select-selector {
  height: 45px !important;
}
.ant-select-selection-item {
  line-height: 45px !important;
}
.sv-survey-layout {
  .ant-input-affix-wrapper {
    padding: 4px 0 !important;
  }
  .sv-survey-option-input {
    //  border-radius: 0 !important;
    //  border-width: 0 !important;
    //  border-color: transparent !important;
    //  height: 45px !important;
    //  &:focus, &.focus, &:focus-within {
    //    border: 1px solid var(--border-default-color) !important;
    //  }
  }
}
